{% extends "bootstrap/base.html" %}
{% block title %}Station Manager{% endblock %}

{% block styles %}
{{super()}}
{% include "styles.jinja2" %}
{% endblock %}

{% block content %}
{{super()}}

<div id="sidebar" class="sidebar collapsed">
    <div class="sidebar-tabs">
        <ul role="tablist">
            <li><a href="#home" role="tab"><i class="fa fa-search"></i></a></li>
            <li class="disabled"><a href="#download" role="tab"><i class="fa fa-download"></i></a></li>
            <li><a href="#maestro" role="tab"><i class="fa fa-calendar"></i></a></li>
            <li class="disabled"><a href="#statistic" role="tab"><i class="fa fa-area-chart"></i></a></li>
        </ul>
        <ul role="tablist">
            <li><a href="#notifications" role="tab"><i class="fa fa-envelope-o"></i></a></li>
            <li class="disabled"><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
        </ul>
    </div>
    <div class="sidebar-content">
        {% include 'html/search.html' %}
        {% include 'html/executive.html' %}
        {% include 'html/statistics.html' %}
        {% include 'html/notifications.html' %}
        {% include 'html/download.html' %}
        {% include 'html/settings.html' %}
    </div>
</div>

<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    style="z-index:3000">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-download">
                <h5 class="modal-title">Downloads</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary base-color">Save Download Links</button>
            </div>
        </div>
    </div>
</div>

<div id="map" class="sidebar-map"></div>

<div id="sidebar-right" class="sidebar-right">
    </br>
    <div class="row justify-content-between">
        <div class="col-auto">
            <h2 class="modal-title">Activities:</h2>
        </div>
        <div class="col-auto">
            <button id="selectbtn" type="button" class="btn btn-warning"><i class="fa fa-pause"></i></button>
            <button id="selectbtn" type="button" class="btn btn-danger"><i class="fa fa-stop"></i></button>
        </div>
    </div>
    
    <table id="table"></table>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
{% include "scripts.jinja2" %}
{% endblock %}