<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.5/jstree.min.js"></script>
<script src="//unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.13/leaflet.draw.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="//cdn.rawgit.com/ScanEx/Leaflet.imageTransform/b236ca1c/src/L.ImageTransform.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.js"></script>
<script src="//rawgit.com/wenzhixin/bootstrap-table/develop/src/extensions/editable/bootstrap-table-editable.js"></script>
<script src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
<script src="static/js/jquery-sidebar.js"></script>
<script src="static/js/L.Control.Sidebar.js"></script>
<script type="text/javascript">
    var maestro_url = '{{ maestro_url }}'
    var host_url = '{{ host_url }}'
    var providers = {{ providers }}
</script>
<script src="static/js/classes.js"></script>
<script src="static/js/base.js"></script>